body{
    background-color: green;
}
#theList {
    color: blue; 
    list-style-type: circle;
}

#addBtn {
    color: brown; 
}

h1 {
    margin: 5px; 
    color: red; 
}

/* Strike-through text for completed tasks */
.completed {
    text-decoration-line: line-through; 
    background-color: aquamarine; 

}